CompileFlags:
  Add: ["-std=c++20",
        "-Wall",
        "-Wextra",
        "-Wundef",
        "-Wshadow",
        "-Wpointer-arith",
        "-Wcast-align",
        "-Wwrite-strings",
        "-Wswitch-enum",
        "-Wcast-qual",
        "-Wconversion",
        "-Wnon-virtual-dtor",
        "-Woverloaded-virtual",
        "-Wformat-nonliteral",
        "-Wformat-security",
        "-Wformat-y2k",
        "-Wformat=2",
        "-Wno-unused-parameter",
        "-Wunused",
        "-Winvalid-pch",
        "-Wmissing-declarations",
        "-Wmissing-field-initializers",
        "-Wmissing-format-attribute",
        "-Wmissing-include-dirs",
        "-Wmissing-noreturn",
        "-Wpacked",
        "-Wredundant-decls",
        "-Wstack-protector",
        "-Wdisabled-optimization",
        "-fno-rtti" ]
